@media (max-width: 1000px) {
    main .container-main div {
        margin: auto;
    }
    main .container-main img {
        display: none;
    }
    h2 {
        margin-left: 50px;
    }
    div h3 {
        margin-left: 50px;
    }
    form {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        text-align: center;
        flex-direction: column;
    }
    input {
        margin: 12px;
    }
}
